:root {
  --bg-gradient: radial-gradient(at top right, #0b1682, #4d57bf);
  --color-cta: hsla(22, 97%, 52%, 1);
  --hover-color-cta: rgb(198, 92, 31);
  --input-color: hsl(232, 100%, 69%);
  --checkbox-color: #eeebff;
  --text-color: hsla(248, 92%, 37%, 1);
  --ff-body: "Roboto", sans-serif;
}

/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

/* General Styles */
body {
  font-family: var(--ff-body);
  font-size: 16px;
}
.container {
  width: 100%;
  height: 100vh;
}
.swiper {
  background: var(--bg-gradient);
  display: none;
  width: 0%;
}
a {
  color: inherit;
}

/************************ sign up ************************************/

.login {
  overflow-x: hidden;
  padding: 1.5rem 1.87rem;
  color: var(--text-color);
  font-size: 0.9rem;
  width: 50%;
}
.login-header {
  margin: 1.25rem 0rem;
}
.login .login--form,
.options {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.login > label {
  display: block;
}
.d-flex {
  margin-top: 0.625rem;
  display: flex;
  gap: 0.625rem;
  justify-content: center;
  align-items: center;
}
#email,
#password,
#name,
button,
input {
  border-radius: 0.5rem;
  height: 3.5rem;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  width: 100%;
}
input:focus {
  outline: 2px solid var(--text-color);
  border-radius: 0.5rem;
}
#email,
#name,
#password,
input {
  width: 100%;
  border: 1px solid var(--input-color);
  text-indent: 1rem;
  font-size: 1.2rem;
}
input:focus {
  outline: 2px solid var(--text-color);
  border-radius: 0.5rem;
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
}

.jc-between a {
  text-decoration: none;
}
.jc-between {
  display: flex;
  justify-content: space-between;
}

.jc-start {
  justify-content: flex-start;
}

.ai-center {
  text-align: left;
}

.icon-container {
  display: flex;
  justify-content: space-around;
  /* display: none; */
}

.icon-container a img {
  margin-inline: 0.5rem;
}

.divider {
  display: none;
}
#submit {
  border-radius: 0.625rem;
  background-color: var(--color-cta);
  color: white;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.25rem;
  border: none;
width: 70%;
margin: auto;
  outline: none;
}
input[type="checkbox"] {
  background-color: var(--checkbox-color);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}

.cta {
  color: var(--color-cta);
}

.options p {
  color: black;
}

.otp {
  height: 1.8rem;
  width: 1.8rem;
  border-radius: 0.3rem;
  border: 1px solid var(--input-color);
  /* margin-inline:1rem */
}

.otp-container {
  display: flex;
  justify-content: space-between;
}

#submit:hover,
.continue:hover {
  background-color: var(--hover-color-cta);
}
/* warning */
.warning {
  color: rgb(196, 8, 8);
  background-color: rgb(252, 199, 199);
  font-size: 0.8rem;
  margin: 1px 0;
  padding: 0.1rem 1rem;
  display: none;
  border: 1px solid rgb(196, 8, 8);
}

/****************************** swiper *****************************/
.swiper{
  display: block;
}
.swiper-slide > .slider {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  font-size: 1.125rem;
  gap: 1.25rem;
}
.swiper .slider3 {
  padding-top: 1.25rem;
}

.slider--text {
  text-align: center;
}
.slider--text p {
  color: rgba(255, 255, 255, 0.75);
  margin-bottom: 1.875rem;
  font-size: 0.9rem;
  margin-top: 0.625rem;
}
.swiper-slide img {
  width: 18.75rem;
  height: 35%;
}
.swiper .swiper-button-next::after,
.swiper-button-prev::after {
  content: "" !important;
}
.swiper .swiper-button-next {
  position: absolute;
  top: 87%;
  right: 5%;
}
.swiper .swiper-button-prev {
  top: 87%;
  left: 5%;
}
.sign_in--link {
  padding: 0.75rem 1.875rem;
  background-color: var(--color-cta);
  color: #fff;
  border-radius: 0.625rem;
  font-size: 1.125rem;
  font-weight: bold;
  border: #222;
  line-height: 158%;
  letter-spacing: 1%;
  font-family: "Roboto", sans-serif;
  flex-grow: 1;
  text-decoration: none;
  text-align: center;
}
.sign_in--link:hover:active {
  background-color: var(--hover-color-cta);
}
.slider--sign_in > h5 {
  margin-top: 0.9rem;
  color: #fff;
}
.swiper-button--btn {
  color: #fff;
  font-weight: 500;
  font-size: 1.125rem;
}
/************ skip-page ***********/
.skip--page {
  background: var(--bg-gradient);
}

.logo--image {
  text-align: center;
  padding: 130px 10px 30px 10px;
}

.logo--image > img {
  width: 130px;
}

.skip--page--button {
  padding: 4rem 6rem;
  background-color: #fff;
  z-index: 10px;
  margin-top: -0.625rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  height: 60vh;
}

.create--link {
  padding: 0.68rem 0.625rem;
  background-color: transparent;
  color: var(--color-cta);
  border-radius: 0.625rem;
  font-size: 1.25rem;
  font-weight: bold;
  border: 1px solid var(--color-cta);
  line-height: 158%;
  letter-spacing: 1%;
  font-family: "Roboto", sans-serif;
  flex-grow: 1;
  text-decoration: none;
  text-align: center;
  max-height: 3.125rem;
}
.skip--page--sign--link {
  padding: 0.68rem 0.625rem;
  background-color: var(--color-cta);
  color: #fff;
  border-radius: 0.625rem;
  font-size: 1.25rem;
  font-weight: bold;

  line-height: 158%;
  letter-spacing: 1%;
  font-family: "Roboto", sans-serif;
  flex-grow: 1;
  text-decoration: none;
  text-align: center;
  max-height: 3.125rem;
}
/* continue */
.continue {
  width: 100%;
  background-color: var(--color-cta);
  padding: 0.68rem 0.625rem;
  font-size: 1.25rem;
  font-weight: bold;
  color: #fff;
  border-radius: 0.625rem;
  text-align: center;
  text-decoration: none;
}
.dashBoard {
  width: 100%;
  background-color: var(--color-cta);
  padding: 0.68rem 0.625rem;
  font-size: 1.25rem;
  font-weight: bold;
  color: #fff;
  border-radius: 0.625rem;
  text-align: center;
  text-decoration: none;
  margin-top: 20px;
  border: none;
}
.dashBoard:hover {
  background-color: var(--hover-color-cta);
  cursor: pointer;
}
/* popup successful */
.successful {
  padding: 20px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.5);
  width: 300px;
  height: 300px;
  text-align: center;
  position: absolute;
  top: 20%;
  right: 10%;
  z-index: 12;
  background-color: #fff;
  border-radius: 5px;
  display: none;
}
.successful--close {
  display: flex;
  margin-left: auto;
  cursor: pointer;
}
.successful h2,
p {
  color: var(--color-cta);
  font-size: 20px;
}
.successful a {
  color: var(--text-color);
  font-size: 12px;
}
.successful p {
  font-size: 12px;
}
.show-continue {
  display: block;
}
/* preloader */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  display: grid;
  justify-content: center;
  align-items: center;
  visibility: visible;
  z-index: 999;
  transition: all 0.3s linear;
}

.hide-preloader {
  z-index: -999;
  visibility: hidden;
}
.login{
  width: 100%;
}
@media screen and (min-width: 25rem) {
  .login {
    padding: 1.5rem;
  }
  .swiper-slide img {
    width: 25rem;
    height: 35%;
  }
  .swiper-slide > .slider {
    margin-top: 5.625rem;
    padding: 4rem 4rem;
    font-size: 1.5rem;
  }
  .sign_in--link {
    padding: 1.25rem 4.0625rem;
  }
  .swiper-slide > .slider {
    margin-top: 0.625rem;
  }
  .successful {
    right: 15%;
  }
}
@media screen and (min-width: 49rem) {
  .container {
    display: flex;
  }

  button {
    width: 100%;
  }
  #email,
  #password,
  #name,
  button {
    height: 3rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  .login-header {
    margin: 10px 0px 20px 0px;
  }
  .login {
    padding: 1.5rem 5rem;
  }
  .d-flex {
    justify-content: left;
    margin-top: 0.3125rem;
  }
  .d-flex .fp {
    margin-left: auto;
  }
  .swiper {
    width: 50%;
  }
  #instruction {
    margin-top: 0.625rem;
  }
  .sign-up {
    width: 100%;
    background-color: #fff;
    display: flex;
    height: 100%;
  }

  .swiper-slide img {
    width: 23.75rem;
  }
  .swiper-slide > .slider {
    padding: 2.5rem;
  }
  .sign_in--link {
    padding: 0.875rem 4.06rem;
  }
  .swiper-button--btn {
    display: none;
  }
  .slider--sign_in {
    display: none;
  }
  .divider {
    display: flex;
    gap: 0.625rem;
    justify-content: center;
  }
  .divider > img {
    width: 40%;
  }
  .icon-container {
    display: flex;
    gap: 1.87rem;
    align-items: center;
  }

  .otp {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 0.3rem;
  }
  .successful {
    right: 40%;
  }
}
@media screen and (min-width: 62rem) {
  .login {
    padding: 1rem 6rem;
  }

  .otp {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 0.3rem;
    border: 1px solid var(--input-color);
    /* margin-inline:1rem */
  }

  .swiper-slide > .slider {
    padding: 5rem 8rem;
  }
}

@media (max-width:790px) {
  .swiper{
    display: none;
  }
  .sign-up{
    display: flex;
  }
  .login{
    width: 100%;
  }
}